@model IEnumerable<CPWeb.studentVM>
<div>
    <h2>Students</h2>
	<br/>
	<table class="datatable display table table-bordered dataTable">
		<thead>
			<th>Name</th>
			<th>Last Scene Completed</th>
			<th>Average Score</th>
			<th>Actions</th>
		</thead>
		<tbody>
		@foreach(CPWeb.studentVM s in Model)
		{
			<tr>
				<td>@s.student.name</td>
				<td>
				@if(s.student.assessments.Count() > 0)
				{
					@:@s.student.assessments.OrderByDescending(v => v.scene.id).First().scene.id</td>
				}
				else
				{
					@:0</td>
				}
				<td>@s.averageScore</td>
				<td><div class="btn-group"><button data-toggle="dropdown" class="btn btn-primary dropdown-primary">
					<span class="icon-wrench icon-white"></span> Actions</button>
					<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
					<span class="caret"></span></button><ul class="dropdown-menu">
					<!---<li><a href="/Admin/UpdateStudent/@s.student.id"><i class="icomoon-icon-pencil"></i> Edit Student</a></li>-->
					<li><a href="/Admin/Assessments/@s.student.id"><i class="icomoon-icon-locked-2"></i> View Assessments</a></li></ul></div></td>
			</tr>
		}
		</tbody>
	</table>


	<script>
		 $(document).ready(function() { 	                   
    var oTable = $('.datatable').dataTable({
        "sPaginationType": "full_numbers",
        "bJQueryUI": false,
        "bAutoWidth": false,
        "bLengthChange": false,
        "iDisplayLength": 15,
        "fnInitComplete": function(oSettings, json) {
            $('.dataTables_filter>label>input').attr('id', 'search');
        },
    });
	});
	</script>
</div>

